$bitcoin-orange: #f7931a;
$soft-orange: #ffe9d5;
$secondary-blue: #1a9af7;
$soft-blue: #e7f5ff;
$warm-black: #282623;
$black: #201e1c;
$grey: #bababa;
$soff-white: #faf8f7;
$just-white: #fff;


@mixin menu {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: $soff-white;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}


*{
box-sizing:border-box;
margin: 0;
padding: 0;
}

html{
font-size: 62.5%;
font-family: "DM Sans", sans-serif;
}

