/*Estilos de la seccion de intercambio*/
main{
    @include menu;
}
.main-exchange-container{
    @include menu;
    title{
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        margin: 0 auto;
    }
    backgroundImg{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        background-image: url("../assets/img/Bitcoin.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h2 {
        margin-bottom: 30px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: $black;
    }
    p {
        margin-bottom: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        color: #757575;
    }
}